# DBZ Power Level Project
This notebook is meant to be a fun experiment to build learning on the basics of machine learning.

## Load Data Set
Loading the data set which we received from Kaggle. There was no need to clean it as it was of good quality.

In [6]:
import pandas as pd
df = pd.read_csv ("Data/Dragon_Ball_Data_Set.csv")
df

,Character,Power_Level,Saga_or_Movie,Dragon_Ball_Series
0,Goku,10,Emperor Pilaf Saga,Dragon Ball
1,Bulma,1.5,Emperor Pilaf Saga,Dragon Ball
2,Bear Thief,7,Emperor Pilaf Saga,Dragon Ball
3,Master Roshi,30,Emperor Pilaf Saga,Dragon Ball
4,Oolong,5,Emperor Pilaf Saga,Dragon Ball
...,...,...,...,...
1239,Goku (MSSJ with SSJG's power),"22,400,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1240,Goku (SSJG),"224,000,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1241,Goku,"44,800,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1242,"Beerus (full power, never shown)","896,000,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1243,"Whis (full power, never shown)","4,480,000,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z

## Data Preprocessing 
Implementing a form of data preprocessing to remove anomalies of character power levels within the dataset.

In [14]:
df = df [~df["Power_Level"].str.contains("(supressed figting Trunks)")]

/var/folders/16/4nzt98916c34lwlbh3f81k2r0000gn/T/ipykernel_32420/3435884438.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df = df [~df["Power_Level"].str.contains("(supressed figting Trunks)")]

Noticed that single digit power levels were not being converted to numeric values correctly. I will now aim to fix this in the preprocessing section

## Data Analysis

In [15]:
summary = df.describe()
saga_power_levels = df.groupby("Saga_or_Movie")["Power_Level"].mean()
character_power_levels = df.groupby("Character")["Power_Level"].mean()

TypeError: Could not convert 9,000,00018,000,0005,150,000450,000408,000510,0003,000210,000,000190,000,000280,000,000900,000,000587,500,000243,750,000230,000,00081,000,00017,100,000300,000,000855,000,0001,000,000,00012,500,000855,000,000310,000,000350,000,0007,200,000180,000,0005,000,000,0005,000,000,00018,000,000900,000,000 to numeric

- df.describe was used to generate descriptive statistics for the data frame. Good practice to store value in summary variable for when conducting exploratory analysis.
- The "groupby" method was used to split the data into different groups, "Saga" and "Character"

In [16]:
print(df['Power_Level'].unique())

['10' '1.5' '7' '30' '5' '8.5' '4' '8' '25' '6' '100' '180' '12' '28' '40'
 '9' '37' '24' '50' '21' '20' '14' '33' '57' '570' '250' '330' '45' '66'
 '55' '90' '67' '58' '72' '42' '35' '18' '34' '110' '115' '190' '95' '65'
 '22' '78' '125' '120' '139' '76' '126' '140' '130' '106' '71' '985' '150'
 '128' '134' '220' '240' '74' '145' '260' '210' '380' '230' '225' '320'
 '1,030' '195' '162' '148' '137' '265' '331' '325' '740' '2' '1,200' '1'
 '326' '334' '206' '710' '408' '416' '950' '1,320' '1,307' '490' '1,420'
 '177' '1,090' '1,700' '3,500' '4,000' '1,400' '1,083' '1,100' '1,830'
 '650' '1,480' '3,750' '1,770' '4,500' '3,800' '3,980' '2,800' '5,000'
 '5,680' '8,200' '7,500' '12,300' '14,000' '18,000' '16,400' '24,600'
 '910' '35,000' '36,000' '32,800' '44,000' '13,500' '180,000' '400,000'
 '750' '5,100' '845' '4,800' '1,900' '600' '420' '10,000' '2,000'
 '220,000' '22,000' '23,000' '1,000' '3,000' '3' '24,000' '12,000'
 '13,000' '28,500' '30,000' '17,000' '8,500' '11,000' '40,000' '45,000'
 '58,000' '20,000' '90,000' '56,000' '65,000' '62,000' '87,000' '120,000'
 '19,000' '250,000' '15,000' '200' '42,000' '80,000' '75,000' '490,000'
 '530,000' '85,000' '25,000' '68,000' '225,000' '300,000' '800,000'
 '750,000' '700,000' '200,000' '820,000' '900,000' '1,060,000' '1,200,000'
 '2,120,000' '1,500,000' '1,950,000' '3,000,000' '2,850,000' '1,600,000'
 '12,000,000' '4,500,000' '60,000,000' '15,000,000' '30,000,000'
 '1,475,000' '55,000,000' '150,000,000' '84,000,000' '120,000,000'
 '80,000,000' '20,000,000' '62,000,000' '180,000,000' '150,000' '136,000'
 '5,700,000' '170,000' '50,000' '2,400,000' '60,750,000' '290,000,000'
 '6,000,000' '300,000,000' '123,000,000' '121,500,000' '200,000,000'
 '5,000,000,000' '9,000,000' '18,000,000' '5,150,000' '450,000' '408,000'
 '510,000' '210,000,000' '190,000,000' '280,000,000' '900,000,000'
 '587,500,000' '243,750,000' '230,000,000' '81,000,000' '17,100,000'
 '855,000,000' '1,000,000,000' '12,500,000' '310,000,000' '350,000,000'
 '7,200,000' '450,000,000' '6,350,000' '720,000,000' '800,000,000'
 '1,500,000,000' '3,000,000,000' '2,250,000,000' '1,000,000' '51,300,000'
 '2,565,000,000' '54,000,000' '2,700,000,000' '3,847,500,000'
 '2,000,000,000' '4,050,000,000' '6,800,000,000' '4,200,000,000'
 '12,150,000,000' '10,000,000,000' '16,200,000,000' '112,500,000,000'
 '4,500,000,000' '90,000,000' '9,000,000,000' '13,500,000,000'
 '40,500,000,000' '400,000,000' '600,000' '500,000' '480,000'
 '144,000,000' '108,000,000' '205,200,000' '15,000,000,000'
 '20,000,000,000' '22,500,000,000' '28,750,000,000' '12,250,000,000'
 '8,000,000,000' '17,500,000,000' '12,300,000,000' '15,200,000,000'
 '7,200,000,000' '10,260,000,000' '5,400,000,000' '15,390,000,000'
 '8,100,000,000' '18,000,000,000' '36,000,000,000' '25,000,000,000'
 '30,200,000,000' '45,000,000,000' '100,000,000,000' '50,000,000,000'
 '30,000,000,000' '80,000,000,000' '200,000,000,000' '360,000,000'
 '2,450,000,000' '100,000,000' '6,500,000' '2,000,000' '124,500,000'
 '580,000,000' '6,500,000,000' '28,500,000,000' '5,000,000' '35,000,000'
 '70,000,000' '500,000,000' '40,000,000,000' '45,200,000,000'
 '1,400,000,000' '70,000,000,000' '140,000,000,000' '10,000,000'
 '9,800,000' '490,000,000' '2,800,000,000' '1,800,000,000'
 '30,500,000,000' '280,000,000,000' '47,100,000,000' '350,000,000,000'
 '500,000,000,000' '1,120,000,000,000' '1,980,000,000' '99,000,000'
 '800,000,000,000' '2,500,000' '100,000' '19,600,000' '980,000,000'
 '3,960,000,000' '198,000,000,000' '396,000,000,000' '1,584,000,000,000'
 '510,000,000' '25,500,000,000' '51,000,000,000' '750,000,000'
 '37,500,000,000' '75,000,000,000' '4,000,000,000,000' '1,048,000,000'
 '8,000,000' '120,000,000,000' '850,039,600,000' '4,850,039,600,000'
 '560,000,000,000' '28,000,000,000,000' '2,000,000,000,000'
 '110,000,000,000' '1,000,000,000,000' '1,750,000' '2,100,000,000'
 '850,000,000' '2,500,000,000,000' '300,000,000,000' '138,250,000,000'
 '7,000,000,000' '5,000,000,000,000' '28,000,000,000' '1,400,000,000,000'
 '2,800,000,000,000' '11,200,000,000,000' '196,000,000' '9,800,000,000'
 '2,750,000' '19,500,000,000' '400,000,000,000' '44,800,000,000'
 '25,000,000' '24,000,000' '1,500,000,000,000' '8,500,000' '\xa06,800,000'
 '3,200,000' '8,500,000,000' '480,000,000,000' '600,000,000,000'
 '5,600,000' '4,600,000' '1,400,000' '1,670,000,000' '3,000,000,000,000'
 '150,000,000,000' '16,000,000,000' '210,000,000,000' '4,000,000,000'
 '12,000,000,000,000' '900,000,000,000' '16,000,000,000,000'
 '40,000,000,000,000' '160,000,000,000,000' '18,500,000,000,000'
 '200,000,000,000,000' '20,000,000,000,000' '5,000,000,0000'
 '250,000,000,000' '4,500,000,000,000' '400,000,000,000,000'
 '4,000,000,000,000,000' '74,000' '28,700' '584,000,000' '4,200,000'
 '4,100,000' '75' '84' '8,400,000,000' '146,500,000' '60,000,000,000'
 '650,000' '30,000,000,000,000' '7,000,000,000,000' '18,000,000,000,000'
 '2,000,000,000,000,000' '530,000,000,000,000' '18,500,000,000,000,000'
 '2,100,000,000,000' '34,000,000,000,000' '320,000,000,000,000'
 '700,000,000,000' '500,000,000,000,000' '32,000,000,000,000'
 '7,000,000,000,000,000' '80,000,000,000,000' '64,000,000,000,000,000'
 '10,000,000,000,000' '700,000,000,000,000,000' '78,000' '60,000' '322'
 '245' '70' '310' '300' '290' '275' '202' '800' '412' '404' '1,300'
 '1,250' '5,600' '4,400' '6,200' '7,200' '1,850' '6,225' '8,300' '7,000'
 '32,000' '38,000' '34,000' '28,000' '7,500,000' '600,000,000' '22,500'
 '56,000,000' '105,000,000' '106,200,000' '4,248,000,000' '50,000,000'
 '1,085,000' '1,070,000' '1,150,000' '2,800,000' '16,800,000'
 '240,000,000' '470,000,000' '14,400,000' '5,200,000,000' '28,000,000'
 '27,000,000' '620,000,000' '570,000,000' '1,770,000,000' '2,650,000,000'
 '4,000,000' '340,000,000' '17,000,000,000' '30,750,000,000' '360'
 '8,100,00,000' '45,00,000' '25,300,000,000' '24,000,000,000'
 '14,400,000,000' '13,800,000,000' '1,800,000' '1,310,000,000'
 '1,340,000,000' '4,300,000,000' '130,000,000,000' '700,000,000'
 '950,000,000' '3,150,000,000' '1,600,000,000' '140,000,000'
 '7,500,000,000,000' '99,000,000,000' '14,000,000,000,000'
 '3,500,000,000,000' '3,200' '21,000' '7,800' '5,800' '6,400' '6,000'
 '76,500' '86,500' '69,500' '3,400,000' '6,700,000' '335,000,000' '70,000'
 '77,000' '78,000,000' '3,900,000,000' '(supressed, figting Trunks)'
 '160,000,000' '5\xa0' '15' '23' '4.5' '5,600,000,000' '39,200,000'
 '1,250,000' '1,440,000,000' '40,000,000' '2,560,000' '290,000'
 '1,960,000,000' '792,000' '7,920,000,000' '48,000,000' '680,000'
 '1,120,000' '13,000,000' '11,200,000,000' '21,000,000,000,000'
 '4,480,000,000,000' '72,000,000,000' '80,00,000' '78,400,000'
 '15,840,000,000' '792,000,000,000' '8,960,000,000,000' '22,400,000,000'
 '3,920,000,000' '195,000,000,000,000' '224,000,000,000,000'
 '640,000,000,000,000' '448,000,000,000' '22,400,000,000,000'
 '896,000,000,000,000' '4,480,000,000,000,000']